hr.invisible
div.row
  div.col
    h1.text-center.font-weight-light
      img#header-icon(src='static/favicon.png')
      |  Mtrnm

div.row
  div.col
    hr
  div.col-auto Tempo
  div.col
    hr

div.row
  div.col.input-group.input-group-lg
    div.input-group-prepend
      span#tempo.input-group-text BPM
    input#tempoBox.form-control.text-center(
        type='number' inputmode='numeric' aria-describedby='tempo'
        min='0' step='1' pattern='[0-9]+'
        title='beats per minute' placeholder='beats per minute'
        v-model='metronome.tempo' v-on:change='metronomeStop()')
    select#subdivisionBox.custom-select(v-model="metronome.noteResolution")
      option(v-bind:value="0" selected) qtr
      option(v-bind:value="1") 8th
      option(v-bind:value="2") 16th
    div.input-group-append
      button.btn.btn-outline-secondary(
          type='button' v-on:click='metronomeTapTempo()') Tap

hr.invisible.small
div.row
  div.col-2
    a.btn.btn-default(v-on:click='metronomeTempoHalve()') รท2
  div.col-2
    a.btn.btn-default(v-on:click='metronomeTempoDecrementBy5()') -5
  div.col-2
    a.btn.btn-default(v-on:click='metronomeTempoDecrement()') -1
  div.col-2
    a.btn.btn-default(v-on:click='metronomeTempoIncrement()') +1
  div.col-2
    a.btn.btn-default(v-on:click='metronomeTempoIncrementBy5()') +5
  div.col-2
    a.btn.btn-default(v-on:click='metronomeTempoDouble()') ร2
hr.invisible.small

div.row
  div.col
    div#viz-container
      canvas#viz

hr.invisible.small

div#chart.container-fluid.collapse(v-bind:class='{show: songChart.enabled}')
  div.row
    div.col
      hr
    div.col-auto Song Chart
    div.col
      hr

  div.row
    div.col-8
      span {{ songChart.name }}
      | &nbsp; - &nbsp;
      span {{ songChart.artist }}
    div.col-4.text-right
      span(v-if='songChart.countIn.enabled && metronome.isPlaying && songChart.countIn.curCountInMeasure <= songChart.countIn.lengthMeasures') count in...

  div.row
    div.col-8
      | Measures: &nbsp;
      span.text-monospace {{ songChart.curRunningMeasures }}
    div.col-4.text-right
      span.text-monospace
        span(v-bind:class='{ "bg-danger text-white": metronome.isPlaying && app.settings.flashRedOnFirstBeat && songChart.curBeat == 1}')
          span {{ songChart.curMeasure }}
          | .
          span {{ songChart.curBeat }}
        span &nbsp;
        | /
        span &nbsp;{{ songChart.curSectionLength }}

  hr.small
  div#songChart.row
    div.col
      ul.list-group.list-group-flush(v-for='(section, index) in songChart.sections')
        li.list-group-item(
            v-bind:class=('{'
                + '"list-group-item-primary": index == songChart.curSectionIndex && (!songChart.visualCues.enabled || (songChart.visualCues.enabled && songChart.curMeasure <= section.length - (songChart.visualCues.redLength + songChart.visualCues.yellowLength))),'
                + '"list-group-item-warning": index == songChart.curSectionIndex && songChart.visualCues.enabled && songChart.curMeasure > section.length - (songChart.visualCues.yellowLength + songChart.visualCues.redLength) && songChart.curMeasure <= section.length - songChart.visualCues.redLength,'
                + '"list-group-item-danger": index == songChart.curSectionIndex && songChart.visualCues.enabled && songChart.curMeasure > section.length - songChart.visualCues.redLength,'
                + 'disabled: metronome.isPlaying && !app.settings.hidePastSections && index < songChart.curSectionIndex,'
                + 'hidden: metronome.isPlaying && app.settings.hidePastSections && index < songChart.curSectionIndex'
                + '}')
            v-on:click='songChartSetStartingFromSection(index)')
          div.section.name
            div.row
              div.col {{ index + 1 }}: {{ section.name }}
              div.col.text-right.text-monospace
                span.text-right(v-if='index == songChart.curSectionIndex') {{ songChart.curMeasure }} /
                span &nbsp;{{ section.length }}
          div.subsection.font-weight-light(
              v-for='(subsection, subindex) in section.subsections')
            div.row(v-bind:class='{ selected: index == songChart.curSectionIndex && subindex == songChart.curSubSectionIndex }')
              div.col {{ subsection.subname }}
              div.col.text-right.text-monospace
                span(v-if='index == songChart.curSectionIndex && subindex == songChart.curSubSectionIndex') {{ songChart.curSubSectionMeasure }} /
                span &nbsp;{{ subsection.sublength }}

  hr
  div.row
    div.col.text-center
      a(v-on:click='songChartAppendSection()')
        | + Add section
hr.invisible

div.row.fixed.invisible
  div.col
    h2.text-center
      i.far.fa-lg(v-bind:class='{"fa-stop-circle": metronome.isPlaying, "fa-play-circle": !metronome.isPlaying}')
