doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel='stylesheet' type='text/css' href='src/css/app.css')

    script(type='text/javascript' src='//cwilso.github.io/AudioContext-MonkeyPatch/AudioContextMonkeyPatch.js')
    script(type='text/javascript' src='src/js/metronome.js')
    script(type='text/javascript' src='src/js/metronomeworker.js')

  body
    div#controls
      div#tempoBox Tempo:
        span#showTempo 120
        | BPM
        input#tempo(
            type='range'
            min='30.0'
            max='200.0'
            step='1'
            value='120'
            onInput='tempo = event.target.value; document.getElementById("showTempo").innerText=tempo;')
      div Resolution:
        select(onchange='noteResolution = this.selectedIndex;')
          option 16th notes
          option 8th notes
          option quarter notes
      div
        a.play(onclick='this.innerText = play();') PLAY
      div.container
        canvas#visualization
