// See pug/index.pug.
doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

    //- Bootstrap 4.4.1
    link(rel='stylesheet' type='text/css' href='src/bootstrap/bootstrap.min.css')
    script(src='src/bootstrap/jquery-3.5.0.min.js')
    script(src='src/bootstrap/bootstrap.min.js')

    link(rel='stylesheet' type='text/css' href='src/css/app.css')

    script(src='src/js/vue.js')
    script(src='src/js/AudioContextMonkeyPatch.js')
    script(src='dist/bundle.js')

  body
    div#vueApp.container-fluid
      div.row
        h1.text-center Metronome
      div.row
        div.col-sm-10
          a.btn.btn-default(v-on:click='metronomeTempoHalve()') รท2
          a.btn.btn-default(v-on:click='metronomeTempoDecrementBy10()') -10
          a.btn.btn-default(v-on:click='metronomeTempoDecrementBy5()') -5
          a.btn.btn-default(v-on:click='metronomeTempoDecrement()') -1
          a.btn.btn-default(v-on:click='metronomeTempoIncrement()') +1
          a.btn.btn-default(v-on:click='metronomeTempoIncrementBy5()') +5
          a.btn.btn-default(v-on:click='metronomeTempoIncrementBy10()') +10
          a.btn.btn-default(v-on:click='metronomeTempoDouble()') ร2
      div.form-group.form-group-lg.row
        label.col-xs-3.control-label(for="tempoBox")
          | Tempo
        div.col-xs-6
          input#tempoInput.input-lg(
            name='tempo'
            type='number' min='0' step='1' pattern='[0-9]*' inputmode='numeric'
            title='beats per minute' placeholder='beats per minute'
            v-model="metronome.tempo" v-on:change="metronomeStop()")
        div.col-xs-3 Resolution:
          select(v-model="metronome.noteResolution")
            option(v-bind:value="0" selected) quarter
            option(v-bind:value="1") 8th
            option(v-bind:value="2") 16th
      div.row
        a.btn.btn-block(v-on:click='metronomeToggle()') {{ metronome.toggleLabel }}
      div
        div
          | Measure counter:
          span {{ songChart.curRunningMeasures }}
        div
          div
            span {{ songChart.name }}
            | -
            span {{ songChart.artist }}
          | Current section:
          span {{ songChart.curSectionName }}
          div 
            span {{ songChart.curMeasure }}
            | .
            span {{ songChart.curBeat }}
            | /
            span {{ songChart.curSectionLength }}
            span(v-if='metronome.isPlaying && songChart.countIn.curCountInMeasure <= songChart.countIn.lengthMeasures') (counting in)
      div#songChart
        div.section-list(v-for='(section, index) in songChart.sections')
          div.section(
              v-bind:class='{ selected: index == songChart.curSectionIndex, hide: metronome.isPlaying && index < songChart.curSectionIndex }'
              v-on:click='metronomeSetStartingFromSection(index)')
            div.section.name {{ index + 1 }}: {{ section.name }} ({{ section.length }})
            div.subsection(
                v-for='(subsection, subindex) in section.subsections')
              div(v-bind:class='{ selected: index == songChart.curSectionIndex && subindex == songChart.curSubSectionIndex }')
                | {{ subsection.subname }} (
                span(v-if='subindex == songChart.curSubSectionIndex') {{ songChart.curSubSectionMeasure }} /
                | {{ subsection.sublength }})
        div
          a(v-on:click='songChartAppendSection()')
            | + Add section
