hr.invisible
div.row
  div.col
  div.col.text-center
    h2.font-weight-light Settings
  div.col.text-center.d-flex.align-items-center.justify-content-center
    h2
      button(type='button' class='close' aria-label='Close'
          v-on:click="appHideSettings()")
        span(aria-hidden='true') &times;

hr
hr.invisible.small

form
  div.form-group
    label(for="gainLevel") Audio volume
    input#gainLevel.form-control-range(
        type="range" min="0" max="1.5" step="0.05"
        v-model.number='audio.gainNode.gain.value'
        v-on:change='audioUpdatedGainLevel()')

hr.invisible.small

div.form-row.align-items-center
  div.col-9
    .form-check.mb-2.custom-control.custom-checkbox
      input#enableCountIn.custom-control-input(
          type='checkbox' v-model='songChart.countIn.enabled')
      label.custom-control-label(for='enableCountIn') &nbsp;Count in measures
  div.col-3
    label.sr-only(for='countInMeasures') Measures
    input#countInMeasures.form-control.mb-2(
        :disabled='!songChart.countIn.enabled'
        type='numeric' inputmode='numeric' aria-describedby='enable count in'
        min='0' step='1' pattern='[0-9]+' title='count in measures'
        placeholder='Measures' v-model.number='songChart.countIn.lengthMeasures')

hr.invisible.small
div.form-row.align-items-center
  div.col
    .form-check.mb-2.custom-control.custom-checkbox
      input#enableSectionChangeVisualCues.custom-control-input(
          type='checkbox' v-model='songChart.visualCues.enabled')
      label.custom-control-label(for='enableSectionChangeVisualCues')
        | &nbsp;Enable visual cues (highlights) before section changes
div.form-row
  div.col-9
    label(for='yellowLength') Yellow measures
  div.col-3
    input#yellowLength.form-control.mb-2(
        :disabled='!songChart.visualCues.enabled'
        type='numeric' inputmode='numeric' aria-describedby='number of yellow measures'
        min='0' step='1' pattern='[0-9]+' title='yellow measures'
        placeholder='Measures' v-model.number='songChart.visualCues.yellowLength')
div.form-row
  div.col-9
    label(for='redLength') Red measures
  div.col-3
    input#redLength.form-control.mb-2(
        :disabled='!songChart.visualCues.enabled'
        type='numeric' inputmode='numeric' aria-describedby='number of red measures'
        min='0' step='1' pattern='[0-9]+' title='red measures'
        placeholder='Measures' v-model.number='songChart.visualCues.redLength')

hr.invisible.small
div.form-row.align-items-center
  div.col
    .form-check.mb-2.custom-control.custom-checkbox
      input#flashRedOnFirstBeat.custom-control-input(
          type='checkbox' v-model='app.settings.flashRedOnFirstBeat')
      label.custom-control-label(for='flashRedOnFirstBeat')
        | &nbsp;Flash red on first beat

hr.invisible.small
div.form-row.align-items-center
  div.col
    .form-check.mb-2.custom-control.custom-checkbox
      input#hidePastSections.custom-control-input(
          type='checkbox' v-model='app.settings.hidePastSections')
      label.custom-control-label(for='hidePastSections')
        | &nbsp;Hide past sections


hr.invisible.small
div.row
  div.col
    label(for='sampleSelect') Sound
    select#sampleSelect.custom-select(
        v-model='audio.sampleName' v-on:change='audioMaybeLoadSample()')
      option(value='beep' selected) Beep
      option(value='hihat') Hi-hat

hr
div.row
  div.col
    span.small
      a(href='https://thenounproject.com/andrea.verzola1/uploads/?i=173952'
        target='_blank') Metronome icon
      |
      | by
      |
      a(href='https://thenounproject.com/andrea.verzola1/'
        target='_blank') andrea.verzola1
      |
      | from the Noun project as favicon. CC license.

